<div class="wrap">
  <div class="title">
    <h3 class="f18 col63">发布租车信息</h3>
  </div>
  <div id="claim_form">
    <div class="merchant-wrap">
      <div class="s-title">
        <h4>信息详情</h4>
      </div>
      <%= render 'form' %>


    </div>
  </div>
</div>