<li style="display: none;">
  <p class="commentdetail_txt">
    <%= @comment.body %>
  </p>

  <div class="commentdetail_bar">
    <p> <%= @comment.created_at.strftime("%Y-%m-%d %H:%m") %>
      来自:<%= (@comment.user) ? (@comment.user.name) : "匿名" %> </p>

  </div>
</li>