<p>您好 <%= @resource.email %>!</p>

<p>感谢您对http://www.0830pk.com的支持，请点击以下链接修改您的密码</p>

<p><%= link_to '点击此处修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>假如您没有向我们提交过忘记密码的申请，请忽略此邮件。</p>
<p>再次感谢您使用泸州租车网<%= link_to "http://www.0830pk.com", "http://www.0830pk.com"%>的服务，愿您旅途愉快。</p>
